/* Your CSS code here. */
.flip img{
	height:70vh;
	width:40vw;
	background-repeat:no-repeat;
	background-size: cover;
}
:hover{
	height:70vh;
	width:40vw;
	background-repeat:no-repeat;
	background-size: cover;
	background-position:100;
	background-image:url('https://live.staticflickr.com/8138/29099429912_0659caf55b_b.jpg');
}